<template name="footer">
<footer id="footer" style="bottom:0px;width:100%;">
	<div class="container" >
			<div class="row">
				<div class="pull-left" style="padding: 0px 40px"> 
		
				<ul class="sociallist list-inline">

					<li><a href="https://www.facebook.com/safirperfumery" class="fb" target="_blank" title="Facebook">
						<img src="http://www.safirperfumery.com/Createtumbnail.aspx?Image=/uploads/socilanetwork/iconmonstr-facebook-5-icon-256.jpg&amp;size=30" alt="Facebook" height="30" width="30"></a>
					</li>

					<li><a href="http://www.instagram.com/safirstores" class="instagram" target="_blank" title="Instagram ">
						<img src="http://www.safirperfumery.com/Createtumbnail.aspx?Image=/uploads/socilanetwork/INSTAAA.jpg&amp;size=30" alt="Instagram " height="30" width="30"></a>
					</li>

					<li><a href="http://www.pinterest.com/safirperfume/" class="pinterest" target="_blank" title="pinterest">
						<img src="http://www.safirperfumery.com/Createtumbnail.aspx?Image=/uploads/socilanetwork/images.jpg&amp;size=30" alt="pinterest" height="30" width="30"></a>
					</li>

					<li><a href="https://twitter.com/safirperfumery" class="twitter" target="_blank" title="twitter">
						<img src="http://www.safirperfumery.com/Createtumbnail.aspx?Image=/uploads/socilanetwork/twitter.jpg&amp;size=30" alt="twitter" height="30" width="30"></a>
					</li>

					<li><a href="https://plus.google.com/u/0/b/109953347025842075900/+Safirperfumeryofficial/posts" class="google" target="_blank" title="google+">
						<img src="http://www.safirperfumery.com/Createtumbnail.aspx?Image=/uploads/socilanetwork/index.jpg&amp;size=30" alt="google+" height="30" width="30"></a>
					</li>

					<li><a href="https://www.youtube.com/channel/UCrlgMSqOZf_EvsHts6GnpPQ" class="youtube" target="_blank" title="youtube">
						<img src="http://www.safirperfumery.com/Createtumbnail.aspx?Image=/uploads/socilanetwork/youtube-icon.jpg&amp;size=30" alt="youtube" height="30" width="30"></a>
					</li>
				</ul>


	<!-- 	<div id="div_nemad" style="cursor:pointer" onclick="">
	        <img id="imgLogo" title="برای مشاهده مجوز كلیك كنید" src="../img/namad1.png" style="border-width:0px;">
	    </div> -->
				<div class="enamad pull-left">
					<iframe src="../img/namad1.png" scrolling="no" allowtransparency="true" style="width: 150px; height: 150px; margin-top:15px;" frameborder="0"></iframe>
				</div>
			</div>
			<div class="col-md-6 col-lg-6 pull-right">
					<img src="/img/footer.png" width="150" height="150" />
					<p>
						کلیه حقوق مادی و معنوی متعلق به فروشگاه عطر سفیر می باشد و هرگونه سوء استفاده، موجب پیگرد قانونی است.
					</p>
			</div>
	</div>
			
</div>
	</footer>


</template>
